$primary: darken(#428bca, 6.5%);

// #337ab7
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$warning-d: #f66e00;
$danger: #d9534f;
$default: #cccccc;
$dark: #414042;
$gray-light: #fcfcfc;
$light: #f0f0f0;